.table {
  width: 650px;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 1.2em;
  color: #000;
  margin: 24px auto;
  background-color: #fff;
}

.title {
  background-color: black;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.cell {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: lightgray;
}
